
.education {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.education li {
  margin-bottom: 0.5rem;
}

.education li .period {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.education li .period::before {
  content:'';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../img/icones/education.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: .5rem;
}
