
.education {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.education li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
}

.education li h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: .5rem;
}

.education li .period {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.education li .period::before {
  content:'';
  display: inline-block;
  width: 2.5rem;
  height: 1rem;
  background-image: url('../img/icones/education_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: .5rem;
}
